<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Frontend designer portfolio website" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Python, jQuery, Figma, Frontet, UI/UX, Slovenia, Designer, Websites, Spletne strani, Izdelava"
    />
    <meta name="author" content="Ana Maria Kim Vargason" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Ana Maria Kim Vargason</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <section class="header" id="home">
      <ul class="nav">
        <div class="kebab">
          <figure></figure>
          <figure class="middle"></figure>
          <p class="cross">x</p>
          <figure></figure>
          <ul class="dropdown">
            <li><a href="#home">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </ul>
      <div class="main_container">
        <div class="main_container-image">
          <img src="/static/images/profile.jpg" alt="" />
        </div>
        <div class="about">
          <h1 class="name">Ana Maria Kim Vargason</h1>
          <p>
            A description about me blablablablablablabalabalabaabala.
            blablablablablablabalabalabaabalablablablablablablabal
            blablablablablablabalabalabaabala
          </p>
          <div class="download-cv">
            <a href="">
              <span class="icon">
                <svg
                  width="35"
                  height="35"
                  viewBox="0 0 35 35"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="arrow"
                    d="M32.8125 27.3438L31.2659 25.7972L28.4375 28.6256V19.6875H26.25V28.6256L23.4216 25.7972L21.875 27.3438L27.3438 32.8125L32.8125 27.3438Z"
                    fill="#66888F"
                  />
                  <path
                    d="M19.6875 30.625H8.75V4.37501H17.5V10.9375C17.5017 11.5171 17.7328 12.0725 18.1426 12.4824C18.5525 12.8923 19.1079 13.1233 19.6875 13.125H26.25V16.4063H28.4375V10.9375C28.4414 10.7938 28.414 10.6509 28.3574 10.5187C28.3007 10.3865 28.2161 10.2682 28.1094 10.1719L20.4531 2.51563C20.3568 2.40882 20.2385 2.32417 20.1063 2.26752C19.9742 2.21087 19.8313 2.18357 19.6875 2.18751H8.75C8.17037 2.18924 7.61498 2.42026 7.20512 2.83012C6.79526 3.23998 6.56423 3.79538 6.5625 4.37501V30.625C6.56423 31.2046 6.79526 31.76 7.20512 32.1699C7.61498 32.5798 8.17037 32.8108 8.75 32.8125H19.6875V30.625ZM19.6875 4.81251L25.8125 10.9375H19.6875V4.81251Z"
                    fill="#66888F"
                  />
                </svg>
              </span>
              <span class="link-text">Download my CV</span>
            </a>
          </div>
        </div>
        <div class="skills">
          <h3 class="subtitle">My Skills</h3>
          <div class="skill-bars">
            <div class="bar">
              <div class="skill-bar html"></div>
              <p class="html_text">HTML</p>
            </div>
            <div class="bar css">
              <div class="skill-bar css"></div>
              <p class="css_text">CSS3</p>
            </div>
            <div class="bar boot">
              <div class="skill-bar boot"></div>
              <p class="boot_text">Bootstrap</p>
            </div>
            <div class="bar jquery">
              <div class="skill-bar jquery"></div>
              <p class="jquery_text">jQuery</p>
            </div>
            <div class="bar js">
              <div class="skill-bar js"></div>
              <p class="js_text">JavaScript</p>
            </div>
            <div class="bar py">
              <div class="skill-bar py"></div>
              <p class="py_text">Python</p>
            </div>
            <div class="bar fig">
              <div class="skill-bar fig"></div>
              <p class="fig_text">Figma</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PORTFOLIO -->

    <section class="portfolio" id="portfolio">
      <div class="title-animation">
        <div class="dots animate"></div>
        <h2 class="title animate">PORTFOLIO</h2>
      </div>
      <div class="project_section">
        <div class="project_container">
          <div class="project_container-image project_1"></div>
          <div class="project_container-desc">
            <a href="https://yesplants.herokuapp.com" target="_blank"
              >YesPlants <i class="fa-solid fa-link"></i
            ></a>
            <p>
              This is a wesbite made with HTML SCSS and JavaScript. It was made
              as a practice project.
            </p>
          </div>
        </div>
        <div class="project_container">
          <div class="project_container-image project_2"></div>
          <div class="project_container-desc">
            <a href="https://gym-logo.herokuapp.com" target="_blank"
              >Gym Website <i class="fa-solid fa-link"></i
            ></a>
            <p>
              I created this website as a way to improve my JavaScript skills
              and animations.
            </p>
          </div>
        </div>
        <div class="project_container">
          <div class="project_container-image project_3"></div>
          <div class="project_container-desc">
            <a href="https://lanschooly.herokuapp.com" target="_blank"
              >Schooly <i class="fa-solid fa-link"></i
            ></a>
            <p>
              Created with Bootstrap 5 framework with lots and lots of modals.
            </p>
          </div>
        </div>
        <div class="project_container">
          <div class="project_container-image project_4"></div>
          <div class="project_container-desc">
            <a
              href="https://guesser-game-smartninja.herokuapp.com"
              target="_blank"
              >Guesser game <i class="fa-solid fa-link"></i
            ></a>
            <p>
              This was a simple game I created in Python. You can guess a number
              between 1-100 and compete with other users.
            </p>
          </div>
        </div>
        <div class="project_container">
          <div class="project_container-image project_5"></div>
          <div class="project_container-desc">
            <a href="https://music-goals.herokuapp.com" target="_blank"
              >GOals <i class="fa-solid fa-link"></i
            ></a>
            <p>
              Simple website where I pracriced the use of gradients and website
              navigation.
            </p>
          </div>
        </div>
        <div class="project_container">
          <div class="main_container-box">
            <!-- <div class="project_container-image project_6"></div> -->
            <div class="project_container-coming_soon">
              <h5>Coming soon...</h5>
            </div>
          </div>
          <div class="project_container-desc">
            <a href="" target="_blank"
              >Studio Astara <i class="fa-solid fa-link"></i
            ></a>
            <p>
              This is the description of the project and some other blablabla...
              and some more text just for fun.
            </p>
          </div>
        </div>
        <div class="project_container">
          <div class="main_container-box">
            <!-- <div class="project_container-image project_7"></div> -->
            <div class="project_container-coming_soon">
              <h5>Comming soon...</h5>
            </div>
          </div>
          <div class="project_container-desc">
            <a href="" target="_blank"
              >Juš Premrov <i class="fa-solid fa-link"></i
            ></a>
            <p>
              This is the description of the project and some other blablabla...
              and some more text just for fun.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT -->

    <section class="contact" id="contact">
      <div class="title-animation animate">
        <div class="dots"></div>
        <h2 class="title">CONTACT</h2>
      </div>
      <div class="contact_container">
        <form action="">
          <!-- name -->
          <label for="name">Name:</label>
          <input type="text" id="name" placeholder="Your Name" />
          <!-- email -->
          <label for="email">Email:</label>
          <input type="text" id="email" placeholder="Your Email" />
          <!-- message -->
          <label for="message">Message:</label>
          <textarea id="message" placeholder="Your Message" rows="6"></textarea>
          <!-- button -->
          <button type="submit">
            <svg
              width="49"
              height="49"
              viewBox="0 0 49 49"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_2_95)">
                <path
                  d="M16.1478 30.3983L25.6123 23.5766M16.1478 30.3983L21.4562 42.7512L35.0767 16.7549L6.10729 21.4563L16.1478 30.3983Z"
                  stroke="#66888F"
                  stroke-width="2.91667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_2_95">
                  <rect
                    width="35"
                    height="35"
                    fill="white"
                    transform="translate(28.3932) rotate(54.2169)"
                  />
                </clipPath>
              </defs>
            </svg>
          </button>
        </form>
      </div>
    </section>

    <!-- FOOTER -->

    <footer>
      <div class="separator"></div>
      <div class="footer-links">
        <a href="https://github.com/nanavar" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/ana-maria-kim-vargason-a39200229/"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <div class="copyright">
        <p>© 2022 Ana Maria Kim Vargason</p>
        <p>All rights reserved.</p>
      </div>
      <script>
        var kebab = document.querySelector(".kebab"),
          middle = document.querySelector(".middle"),
          cross = document.querySelector(".cross"),
          dropdown = document.querySelector(".dropdown");

        kebab.addEventListener("click", function () {
          middle.classList.toggle("active");
          cross.classList.toggle("active");
          dropdown.classList.toggle("active");
        });

        function revealDots() {
          var reveals = document.querySelectorAll(".dots");

          for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
              reveals[i].classList.add("dots_animate");
            } else {
              reveals[i].classList.remove("dots_animate");
            }
          }
        }
        window.addEventListener("scroll", revealDots);

        function revealTitle() {
          var reveals = document.querySelectorAll(".title");

          for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
              reveals[i].classList.add("title_animate");
            } else {
              reveals[i].classList.remove("title_animate");
            }
          }
        }
        window.addEventListener("scroll", revealTitle);
      </script>
    </footer>
  </body>
</html>
